.list-overflow-container {
  max-height: 100%;
  border: 3px #EB6864 solid;
  border-radius: 10px;
  /*overflow-y: scroll;*/
  /*overflow-x: hidden;*/
  padding: 20px;
  margin: 30px;
  background-color: antiquewhite;
}

.list-overflow-container ul {
  margin: 0;
}

.list-overflow-container li {
  border-radius: 10px;
  border-left: none;
  border-right: none;
  
  position: relative;
}

.list-overflow-container li * {
  cursor: pointer;
}

.list-overflow-container li a {
  display: block;
  height: 160px;
  color: #2A878C;
  font-size: 2em;
  margin-top: 10px;
  /*trying to center content vertically*/

  position: absolute;
  top: 50%;
  left: 50%;
}

.list-overflow-container li:first-child {
  border-top: none;
}

.list-overflow-container li:last-child {
  border-bottom: none;
}


